.wrap {
    padding: 30px;
    .introduce {
        line-height: 30px;
        margin-bottom: 10px;
    }
    .action {
        margin-bottom: 20px;
    }
    .content {
        .select {
            width: 120px;
        }
    }
    .download {
        width: 20px;
        height: 20px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url("../../resources/images/download.png");
    }
    .star {
        width: 20px;
        height: 20px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url("../../resources/images/star.png");
    }

}
