.wrap {
    padding: 30px;
    .introduce {
        line-height: 30px;
        margin-bottom: 10px;
    }
    .action {
        margin-bottom: 20px;
    }
    .content {
        .select {
            width: 120px;
        }
    }
}
