.wrap {
    padding: 30px;
    .introduce {
        line-height: 30px;
        margin-bottom: 10px;
    }
    .action {
        margin-bottom: 20px;
    }
    .content {
        .select {
            width: 120px;
        }
    }
    .download {
        width: 16px;
        height: 16px;
        background-image: url("../../resources/images/download@8x.png");
    }
    .star {
        width: 16px;
        height: 16px;
        background-image: url("../../resources/images/star@8x.png");
    }

}
